@font-face {
  font-family: "Norse-Bold";
  src: url("../Fonts/Norse-Bold.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  font-family: "Norse-Bold";
  font-size: 1.05rem;
}

.side {
  background-image: url(./Images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  background-color: #f5f7f4;
}

.form-style > div {
  display: flex;
  gap: 1.5rem;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

input {
  border: 1px solid #d2dacc;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}

input:focus {
  border-color: rgb(77, 236, 245);
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

button[type="submit"] {
  margin: 20px 0;
  width: 150px;
  height: 30px;
  border: 0;
  background-color: rgb(104, 132, 104);
  color: #ffffff;
  border-radius: 5px;
}
